@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Raleway:wght@200;400;800&family=Russo+One&family=Tilt+Warp&display=swap');
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
   
}
::-webkit-scrollbar {
    width: 1.3rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #222224;
  }
  
  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  }

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-family: 'Titillium Web', sans-serif;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(26, 25, 25, 0.673);
    overflow-x: hidden;
    padding-top: 5%;
    transition: 0.5s;
}
.sidenav{
    display: none;
}

svg {
    display: none;
    margin-left: 10%;
    padding-top: 10%;
    height: 100px;
}

.sidenav a {
    padding: 8px 8px 30px 32px;
    text-decoration: none;
    font-size: 10em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.868);
}

li {
    font-size: 0.4em;
    text-transform: uppercase;
    display: inline;
    padding: 3%;
    
}

li:hover {
    color: grey;
}

#menu {
    text-align: center;
    animation: navigation 2s;
    padding-top: 3%;
    font-weight: 200;

}

@keyframes navigation {
    0%{
        margin-right: 60%;
        opacity: 0;
    }
}

#intro {
    animation: intro 1s;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(petr_bakla_portrait.jpg);
}

@keyframes intro {
    0%{
        opacity: 0;
        margin-top: 20%;
    }
}

#biography {
    width: 100%;
    height: 100vh;
    word-wrap: break-word;
    background: rgb(255,255,255);
   display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bio{
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
    opacity: 0;
    width: fit-content;
    margin-left: 30%;
    margin-right: 30%;
    height: fit-content;
    align-items: center;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    padding-left: 3%;
    padding-bottom: 3%;
}


#biography .para1{

    text-align: justify;
    color: rgba(52, 52, 52, 0.883);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    max-height: fit-content;
    font-size: 0.5em;
    font-family: 'EB Garamond', serif;
}


#title {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.269);
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4em;
    width: fit-content;
   

}


#news {
    text-align: center;
    padding-bottom: 5%;
    width: 100%;
    height: fit-content;
    background-image: url(petr_bakla_portrait_blurry.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: block;
}


.news-flex p {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 0.4em;
    color: rgba(255, 255, 255, 0.558);
    background-color: rgba(34, 34, 34, 0.588);
    margin-bottom: 3%;
    padding-bottom: 3%;
    padding-top: 3%;
    font-family: 'EB Garamond', serif;

}



#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(petr_bakla_portrait_blurry.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: fit-content;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;

    
}
.firstcontact{
    width: 100%;
    height: fit-content;
}

#title1 {
    color: rgba(0, 0, 0, 0.693);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.16);
    flex: 1;
}

.fa {
    margin-top: 2%;
    font-size: 1em;
    margin-left: 10px;
    width: 50px;
    height: auto;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa{
    color: rgba(255, 255, 255, 0.576);
  }

footer {
    font-weight: 200;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    font-size: 1em;
    align-items: center;
    text-align: center;
    background: #000;
    height: fit-content;
    width: 100%;
    color: rgba(255, 255, 255, 0.685);
}



footer p {
    font-size: 0.3em;
    text-transform: capitalize;
}

footer p a{
    color:#44bae8;
    text-decoration: none;
}
footer span {
    text-transform: uppercase;
    opacity: .4;
}

.footer-nav {
    padding-bottom: 2%;
    width: 70%; 
    height: auto;
   
}

.footer-nav ul {
  display: flex;
  
}



.footer-nav ul li a {

    text-decoration: none;
}

.footer-nav ul li a:hover {
    color: #225761;
}




.naming{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

#mobile-header {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#mobile-header::before {
    content: "";
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    animation-name: hero;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    will-change: transform;
    z-index: -1;
}
#hamburger {
    position: absolute;
    width: 50px;
    height: 45px;
    top: 1rem;
    right: 2rem;
    transform: scale(0.8);
    cursor: pointer;
}

#hamburger span {
    display: block;
    width: 100%;
    height: 9px;
    background-color: rgb(82, 80, 80);
    position: absolute;
    border-radius: 9px;
    transition: all 0.2s;
}

#hamburger span:nth-child(1) {
    top: 0;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
    top: 18px;
}

#hamburger span:nth-child(4) {
    top: 36px;
}

#hamburger.open span:nth-child(1),
#hamburger.open span:nth-child(4) {
    top: 18px;
    opacity: 0;
}

#hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
}
nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.8s;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav.show {
    opacity: 1;
    visibility: visible;
}

#headline.hide, #listenbtn.hide {
    opacity: 0;
    visibility: hidden;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 4rem 0 0 0;
    background-image: url(media/wreath-32.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#nav a {
    color: #bbb;
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1.2rem;
    transition: all 0.3s;
}

#nav a:hover {
    color: #fff;
    transform: scale(1.2);
}

#mobile-header{
    display: none;
}



@media only screen and (max-width: 1100px){
    .secondpart{
        display: block;
    }

}

@media only screen and (max-width: 851px){
    .bio{
        margin-left: 10%;
        margin-right: 10%;
    }

}

  .waviy{
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
  }
  .waviy span {
    max-height: 100%;
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
    color: #0000009a;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.3s * var(--i))
  }
  @keyframes flip {
    0% {
      transform: rotateY(360deg) 
    }
  }
  
#slider {
    position: relative;
    width: 8em;
    height: 8em;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
  }
  .info{
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
    color: rgba(255, 255, 255, 0.383);
    opacity: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9em;
    padding-bottom: 2em;
  }
  .news-info{
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
    color: rgba(255, 255, 255, 0.383);
    opacity: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    display: none;
    transform: translateX(-83px);
    cursor: pointer;
    
  }
  
  
  input[type=radio]:nth-child(5) {
    margin-right: 0px;
  }
  
  input[type=radio]:checked {
    opacity: 0;
  }

  
  
  #slider label {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 5px;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
  }
  
  #slide2 {
    background-image: url(Bakla_island.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }
  
  #slide1 {
    background-image: url(Bakla_pianoconcerto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }
  
  #slide3 {
    background-image: url(Bakla_moolive.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
  }
  
  #slide4 {
    background-image: url(Bakla_mladakrev.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }
  
  #slide5 {
    background-image: url(Bakla-summerwork.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    color: white;
    transform: translate3d(0%, 0, 0px);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(15%, 0, -100px);
  }
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(30%, 0, -250px);
  }
  
  #s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-30%, 0, -250px);
  }
  
  #s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-15%, 0, -100px);
  }
  #cd {
    width: 100%;
    height: 100vh; 
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(138,136,136,1) 50%, rgba(255,255,255,1) 100%); 
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

  }
  
  

  .show {
    opacity: 1;
    transform: translateY(0);
}
@media only screen and (max-width: 700px){

    #intro{
        background-attachment: scroll;
    }


    #biography{
        font-size: 0.9em;
        background-attachment: scroll;
    }

    #bio{
        margin-left: 30%;
        margin-right: 30%;
        font-size: 0.3em;
    }
    #news{
        background-attachment: scroll;
    }
    #contact{
        background-attachment: scroll;
    }
    #news-flex{
        display: block;
    }

    #mobile-header{
        display: block;
    }
    #menu{
        display: none;
    }
    .waviy span{
        color: rgba(161, 156, 156, 0.26);
    }
    #slider{
        margin-top: 15%;
        width: 5.61em;
        height: 5.61em;
    }
    .footer p{
        font-size: 0.2em;
    }
    footer{
        font-size: 0.71em;
    }
    


}
@media only screen and (max-width: 416px){
    #slider{
        width: 4em;
        height: 4em;
    }

}